<!DOCTYPE HTML>
<html>
  <head>
    <title>about</title>
  </head>
  <body>
    <h1>Hi! Thank you for visiting our wallpaper website!
      Makers: Trevor, Evan, Chase Sutton
      Want to support us? Well, your usage of this website is support enough! But feel free to check some of our other work!</h1>
    <h3>Go to my website if you have swag</h3>
    <a href="http://www.the49thgalactichero.com">
      the49thgalactichero.com
    </a>
  </body>
</html>