<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Desktop Wallpapers</title>
 </head>
 <body>
   <div id ="category">
     <form method="POST" action="/imagesort">
       <input type="checkbox" name="category" value="space"> Space <br>
       <input type="checkbox" name="category" value="landscape"> Landscape <br>
       <input type="checkbox" name="category" value="animals"> Animals <br>
       <input type="checkbox" name="category" value="cars"> Cars <br><br>

       <input type="checkbox" name="resolution" value="1280x720"> 1280x720 <br>
       <input type="checkbox" name="resolution" value="1366x768"> 1366x768 <br>
       <input type="checkbox" name="resolution" value="1600x900"> 1600x900 <br>
       <input type="checkbox" name="resolution" value="1920x1080"> 1920x1080 <br>
       <input type="submit" value="Submit">
     </form>
   </div>
 </body>
</html>